# ---> Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
.vscode
#test
apiserver
chaincode
main
artifacts/
test/
conf/config/
controllers/test/
apiserverv1.1
models/gosdk/tool/CARevoke/
*_test.go
models/gosdk/tool/discovery/
bin/
